#productForm{
    margin-bottom: 0.3em;
}
.products .product{
    display: flex;
    justify-content: space-between;
    width: 50%;
    min-width: 15em;
    margin-bottom: 0.3em;
}
.sum{
    margin-bottom: 1.2rem;
}

#back{
    position: absolute;
    right: 1em;
    top: 1em;
}